/* Styles in App.css temp*/

.Slide img {
    width: 100%;
    max-width: 1000px;
}

.SlideText {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    color: aqua;
}