.mainBlock {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 1330px;
    padding-top: 200px;
    margin-bottom: 200px;
}

@media(max-width: 768px) {
    .mainBlock {
        width: 100%;
        max-width: 600px;
    }
}

.articleBlock {
    padding-top: 150px;
    width: 50%;
    max-width: 600px;
    padding-right: 65px;
}

.Logo {
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    /* padding-left: 75px; */
    padding-top: 30px;
}

.titleText {
    color: rgb(211, 253, 246);
    padding-top: 15px;
}

.titleSubText {
    color: rgb(211, 253, 246);
    padding-top: 25px;
    padding-bottom: 25px;
}

.article {
    color: rgb(211, 253, 246);
    padding-bottom: 25px;
    max-width: 500px;
}