@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
body {
    font-family: 'Share Tech Mono', monospace;
}

a {
    text-decoration: none;
    color: #c7c7c7;
}

.glitchBtn {
    max-width: 200px;
    display: block;
    margin-top: 25px;
    transform: translate(10%, 10%);
    font-size: 36px;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.glitchBtn:hover {
    color: #00ffb4;
}

.glitchBtn:hover:before {
    background: #4e4e4e;
    transform: translateX(2550%) scaleX(50) scaleY(0.2);
}

.glitchBtn:before {
    content: "";
    position: absolute;
    left: -10%;
    top: -10%;
    background: #00ffb4;
    width: 4px;
    height: 120%;
    padding: 0px;
    z-index: -1;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes glitchin {
    100% {
        transform: translate(0px, 0px);
    }
    95% {
        -webkit-transform: translate(0.5px, 0.05px);
        transform: translate(0.5px, 0.05px);
    }
    90% {
        -webkit-transform: translate(0.6px, -0.3px);
        transform: translate(0.6px, -0.3px);
    }
    85% {
        -webkit-transform: translate(1.2px, 0px);
        transform: translate(1.2px, 0px);
    }
    80% {
        -webkit-transform: translate(1.2px, 0.2px);
        transform: translate(1.2px, 0.2px);
    }
    75% {
        -webkit-transform: translate(0.5px, 1px);
        transform: translate(0.5px, 1px);
    }
    70% {
        -webkit-transform: translate(0.3px, 1.2px);
        transform: translate(0.3px, 1.2px);
    }
    65% {
        -webkit-transform: translate(-2.1px, 0.7px);
        transform: translate(-2.1px, 0.7px);
    }
    60% {
        -webkit-transform: translate(3.6px, 0.4px);
        transform: translate(3.6px, 0.4px);
    }
    55% {
        -webkit-transform: translate(0.45px, 1.8px);
        transform: translate(0.45px, 1.8px);
    }
    50% {
        -webkit-transform: translate(-3px, -1px);
        transform: translate(-3px, -1px);
    }
    45% {
        -webkit-transform: translate(-4.4px, 1.1px);
        transform: translate(-4.4px, 1.1px);
    }
    40% {
        -webkit-transform: translate(-4.2px, 2.4px);
        transform: translate(-4.2px, 2.4px);
    }
    35% {
        -webkit-transform: translate(2.6px, 1.3px);
        transform: translate(2.6px, 1.3px);
    }
    30% {
        -webkit-transform: translate(-1.4px, 2.8px);
        transform: translate(-1.4px, 2.8px);
    }
    25% {
        -webkit-transform: translate(6px, 0.75px);
        transform: translate(6px, 0.75px);
    }
    20% {
        -webkit-transform: translate(0px, -1.6px);
        transform: translate(0px, -1.6px);
    }
    15% {
        -webkit-transform: translate(-5.95px, -0.85px);
        transform: translate(-5.95px, -0.85px);
    }
    10% {
        -webkit-transform: translate(3.6px, 3.6px);
        transform: translate(3.6px, 3.6px);
    }
    5% {
        -webkit-transform: translate(-0.95px, -0.95px);
        transform: translate(-0.95px, -0.95px);
    }
}

.glitchBtn .mask {
    position: absolute;
    backface-visibility: hidden;
    height: 20%;
    width: 100%;
    overflow: hidden;
    display: none;
}

.glitchBtn .mask span {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    top: -100%;
}

.glitchBtn .mask {
    top: 20%;
}

.glitchBtn:hover .mask {
    animation: glitchin 0.2s both;
}

.glitchBtn:hover .text {
    animation: fade-in 0.8s forwards;
}

.glitchBtn:hover .mask {
    display: block;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}