.ContactItem {
    width: 30%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.ContactImage {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.ContactImage:hover {
    cursor: pointer;
}

.ContactName {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 15px;
    font-size: 36px;
}

.ContactText {
    padding: 10px;
}

.ContactText:hover {
    cursor: pointer;
}