/*slider*/

.awssld__wrapper {
    margin: 0 auto;
    max-width: 1468px;
    height: 100% !important;
}


/* .awssld__content {
    max-height: 800px !important;
} */

.awssld {
    --content-background-color: #17171d !important;
}